<!DOCTYPE html>
<html>
<head>
  <title></title>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <textarea v-model="status"></textarea>
    <input type="text" v-model="user" />
    <input type="password" v-model="pass" />
    <button @click="login">login</button>

    <button @click="check">check auth</button>
    <button @click="logout">logout</button>
  </div>

  <script type="text/javascript">

    axios.defaults.withCredentials = true

    new Vue({
      el: '#app',
      data: {
          user: 'pippo',
          pass: 'pluto',
          status:''
      },
      methods:{
        login(){
          var ob = {username:this.user, password:this.pass}
          axios.post('http://test1.presenta.cc/login', 
            ob)
            .then(data => {
              console.log(data.data)
              this.status = data.data
            })
        },

        check(){
          axios.get('http://test1.presenta.cc/api/private')
            .then(data => {
              console.log(data.data)
              this.status = data.data
            })
        },

        logout(){
          axios.get('http://test1.presenta.cc/logout')
            .then(data => {
              console.log(data.data)
              this.status = data.data
            })
        }
        
      }
    })
  </script>
</body>
</html>